*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
header{
  background-image: radial-gradient( mediumseagreen,seagreen, black);
    height:100vh;
}
.logo img{
    float:none;
    width: 75px;
    height:auto;
    position:absolute;
    top: 20%;
    left: 48%;
}
.main{
    max-width: 600px;
    margin: auto;
}
.title{
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.title h1{
    color:darkgoldenrod;
    font-size: 100px;

}
.logo1 img{
    float:none;
    width: 75px;
    height:auto;
    position:absolute;
    top: 50%;
    left: 48%;
}

th, td {
     font-family: "Times New Roman", Times, serif;
     font-weight: bold;
     font-size: 20px;
  padding: 20px;
}


th {
    background-color: red;
  color: orangered;
  height: 50px;
    width:30%;
}
#t01 {
    position: absolute;
    top: 30%;
    left: 20%;
    border-style: none;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right,red,maroon);
    height: 50%;
    width: 25%;
    
}
#t02 {
    position: absolute;
    top: 30%;
    right: 20%;
    border-style: none;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right,red,maroon);
    height: 50%;
    width: 25%;
    
}
td {
   
  text-align: center;
}


.swagButton {
    color: white;
    font-family: "Times New Roman";
    font-weight: 100;
    font-size: 20px;
    background-color: orangered;
    text-align: center;
    
    
  
    border-radius: 50px;
    
    padding: 10px 80px;
    
    
    
}

.swagButton1 {
    color: white;
    font-family: "Times New Roman";
    font-weight: 100;
    font-size: 20px;
    background-color: limegreen;
    text-align: center;
    
    
  
    border-radius: 50px;
    
    padding: 10px 80px;
     position: absolute;
    top: 90%;
    left: 30%;

}
.swagButton2 {
    color: white;
    font-family: "Times New Roman";
    font-weight: 100;
    font-size: 20px;
    background-color: dodgerblue;
    text-align: center;
    
    
  
    border-radius: 50px;
    
    padding: 10px 80px;
     position: absolute;
    top: 90%;
    right: 30%;

}